@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url(./fonts/roboto-v18-latin-500.woff2) format('woff2');
}

@font-face {
  font-display: swap;
  font-family: Ciutadella;
  font-style: normal;
  font-weight: 600;
  src: url(./fonts/CiutadellaRounded-SmBd.woff2) format('woff2');
}

:root {
  --black: #343434;
  --blue: #00526e;
  --orange: #ff9300;
  --purple: #aa418c;
  --purple-dark: #883370;
}

body {
  color: var(--black);
  font-family: Roboto;
  margin: 0;
}

h1 {
  color: var(--blue);
  font-family: Ciutadella;
  font-size: 3rem;
}
